# Base de datos
DATABASE_URL=postgresql://stock_user:stock_pass@db:5432/stock_alamos

# Seguridad (JWT)
SECRET_KEY=cambiar-esta-clave-por-una-segura
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# CORS (para que el frontend pueda hablar con el backend)
FRONTEND_ORIGIN=http://localhost:5173
